<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Settings</name>
    </assembly>
    <members>
        <member name="T:UtilityPack.Setting.SettLocation">
            <summary> Setting location types </summary>
        </member>
        <member name="F:UtilityPack.Setting.SettLocation.ROOT">
            <summary> C:\ </summary>
        </member>
        <member name="F:UtilityPack.Setting.SettLocation.CUSTOM">
            <summary> Custom Path </summary>
        </member>
        <member name="F:UtilityPack.Setting.SettLocation.EXEDIR">
            <summary> ..\exe_directory\custom_dir </summary>
        </member>
        <member name="F:UtilityPack.Setting.SettLocation.PROGDATA">
            <summary> C:\ProgramData\ </summary>
        </member>
        <member name="F:UtilityPack.Setting.SettLocation.APPDATAROAM">
            <summary> ..\AppData\Roaming </summary>
        </member>
        <member name="F:UtilityPack.Setting.SettLocation.APPDATALOCA">
            <summary> ..\AppData\Local </summary>
        </member>
        <member name="T:UtilityPack.Setting.Settings`1">
            <summary>
            Class to manage settings
            </summary>
        </member>
        <member name="F:UtilityPack.Setting.Settings`1.data">
            <summary>
            Property holding all the data, Loaded after calling <see cref="M:UtilityPack.Setting.Settings`1.Load"/> and saved on disk after calling <see cref="M:UtilityPack.Setting.Settings`1.Save"/>
            </summary>
        </member>
        <member name="F:UtilityPack.Setting.Settings`1.path">
            <summary>
            Path where save the setting file.
            (Default same directory as the exe)
            </summary>
        </member>
        <member name="F:UtilityPack.Setting.Settings`1.name">
            <summary>
            Name of the setting file, withotu extension. <br/>
            (Default "settings")
            </summary>
        </member>
        <member name="F:UtilityPack.Setting.Settings`1.crypt">
            <summary>
            If true, automatically use <see cref="M:UtilityPack.Setting.Settings`1.SaveCrypt"/> when calling <see cref="M:UtilityPack.Setting.Settings`1.Save"/> and <see cref="M:UtilityPack.Setting.Settings`1.LoadCrypt"/> when calling <see cref="M:UtilityPack.Setting.Settings`1.Load"/>
            <br/>(Default false)
            </summary>
        </member>
        <member name="F:UtilityPack.Setting.Settings`1.prettyPrint">
            <summary>
            If true pretty print the json file.
            </summary>
        </member>
        <member name="M:UtilityPack.Setting.Settings`1.Load">
            <summary>
            Load the settings from the file and parse them to the "data" property.<br/>
            If the file is not present it will be created with the default parameters.
            </summary>
        </member>
        <member name="M:UtilityPack.Setting.Settings`1.Save">
            <summary>
            Save the settings data to file.
            </summary>
        </member>
        <member name="M:UtilityPack.Setting.Settings`1.LoadCrypt">
            <summary>
            Load the settings from the file, decrypt and parse them to the "data" property.<br/>
            If the file is not present it will be created with the default parameters. <br/>
            Automaticlay done when calling <see cref="M:UtilityPack.Setting.Settings`1.Load"/> if <see cref="F:UtilityPack.Setting.Settings`1.crypt"/> is set to true.
            </summary>
        </member>
        <member name="M:UtilityPack.Setting.Settings`1.SaveCrypt">
            <summary>
            Save the settings data to file, but crypting them, making it unreadable to human. <br/>
            Automaticlay done when calling <see cref="M:UtilityPack.Setting.Settings`1.Save"/> if <see cref="F:UtilityPack.Setting.Settings`1.crypt"/> is set to true.
            </summary>
        </member>
        <member name="M:UtilityPack.Setting.Settings`1.SetLocation(UtilityPack.Setting.SettLocation,System.String)">
            <summary> 
            Set the settings file save location.<br/>
            When location == SettLocation.CUSTOM, the "customDir" parameter work as a full path.<br/>
            In every other cases "customDir" works as an additional final string to the base path.
            </summary>
        </member>
    </members>
</doc>
